@import '../../less/_variables';

.day-job {
    &__title {
        font-family: @handwriting-font;
        font-weight: 400;
        margin: @spacing-6x auto @spacing-2x;
        max-width: 600px;
    }

    &__background {
        background-color: @dark-gray;
        color: #fff;
        padding: @spacing-3x;
    }

    &__ha {
        width: 150px;
    }

    &__content {
        margin: 0 auto;
        max-width: 600px;
    }

    &__job-title {
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 300;
        margin-top: -7px;
    }
}
