@import '../../less/_variables';

.portfolio {
    &__basics {
        margin: 32px auto 0;
        position: relative;
        text-align: center;
        width: 500px;
    }

    &__logo {
        color: @black;
        font-family: @logo-font;
        font-size: 30px;
        font-weight: 400;
        margin: 0 0 8px 0;
    }

    &__logo-icon {
        fill: @red;
        margin: 8px 0;
        width: 20px;
    }

    &__job-title {
        color: @light-gray;
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 2px 0;
    }

    &__hobby-title {
        font-family: @handwriting-font;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }

    &__location {
        color: @light-gray;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
    }

    &__location-pin {
        display: inline-block;
        fill: @light-gray;
        height: 12px;
        margin-right: 4px;
        width: 12px;
    }

    &__hello {
        background-color: #f7f7f7;
        border-radius: 5px;
        margin: @spacing-3x @spacing-6x;
        padding: @spacing-4x;
    }

    &__hello-title {
        font-size: 36px;
        font-weight: 800;
        margin: 0 0 @spacing-2x;
    }

    &__hello-period {
        color: @eggplant;
    }

    &__hello-p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
