@import '../../less/_variables';

.portfolio {
    &__basics {
        margin: 32px auto 0;
        position: relative;
        text-align: center;
        width: 500px;
    }

    &__logo {
        color: @black;
        font-family: @logo-font;
        font-size: 30px;
        font-weight: 400;
        margin: 0 0 8px 0;
    }

    &__logo-icon {
        fill: @black;
        margin: 8px 0;
        width: 20px;
    }

    &__job-title {
        color: @light-gray;
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 2px 0;
    }

    &__hobby-title {
        font-family: @handwriting-font;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    &__location {
        color: @light-gray;
        font-size: 12px;
        font-weight: 300;
        margin: 0;
    }

    &__location-pin {
        display: inline-block;
        fill: @light-gray;
        height: 12px;
        margin-right: 4px;
        width: 12px;
    }
}
