@import '../../less/_variables';

.highlight {
    position: relative;
    margin-top: 10px;

    &__input {
        background-color: @dark-gray;
        border: 1px solid @light-gray;
        border-radius: 3px;
        color: @white;
        padding: @spacing-1x;
    }

    &__icon {
        color: @gray;
        position: absolute;
        right: 10px;
        top: 7px;

        &--clear {
            color: @white;
            cursor: pointer;
        }
    }
}
