@import '../../less/_variables';

.job-time-period {
    color: @light-gray-text;
    font-weight: 200;
    margin: @spacing-3x 0 0;
    width: 200px;

    &__date-range {
        font-size: 12px;
        font-weight: 200;
        margin: 0 0 4px;
    }

    &__team {
        color: @white;
        font-weight: 200;
        margin: 0 0 @spacing-2x;
    }

    &__description {
        margin-bottom: @spacing-3x;
    }

    &__tags-title {
        color: @white;
        margin-bottom: @spacing-1x;
    }

    &__tags {
        border-top: 1px solid @gray;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: @spacing-4x 0 0;
    }

    @media screen and (max-width: 729px) {
        width: auto;
    }

    @media screen and (max-width: 990px) and (min-width: 860px) {
        width: 350px;
    }

    @media screen and (max-width: 859px) and (min-width: 730px) {
        width: 300px;
    }
}
