@import './src/less/_variables';

.App {
    color: @text-color;
    font-family: @base-font;
}

p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
}
